# Eat Safe, Love

## Notebook Set Up

In [61]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [62]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [63]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [64]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [65]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [66]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene': 20}
results = establishments.find(query)
# Use count_documents to display the number of documents in the result
print("Number of documents in result:", establishments.count_documents(query))

# Display the first document in the results using pprint
pprint(results[0])

Number of documents in result: 41
{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': '0',
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('63bb70a89dc7dbb0399d71a3'),
 'geocode': {'latitude': Decimal128('0.27694'),
             'longitude': Decimal128('0.27694')},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [67]:
# Convert the result to a Pandas DataFrame
hygiene20_df = pd.json_normalize(results)
# Display the number of rows in the DataFrame
print(len(hygiene20_df.index))
# Display the first 10 rows of the DataFrame
hygiene20_df.head(10)

41

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,63bb70a89dc7dbb0399d71a3,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,0.27694,0.27694,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,63bb70a89dc7dbb0399d7528,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,1.278721,1.278721,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,63bb70a89dc7dbb0399d7835,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,1.15927,1.15927,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,63bb70a89dc7dbb0399d7a21,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,0.10202,0.10202,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,63bb70a89dc7dbb0399d7a31,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,0.101446,0.101446,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,63bb70a89dc7dbb0399d83cf,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,0.736349,0.736349,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,63bb70a89dc7dbb0399d85f1,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,0.7121671,0.7121671,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,63bb70a89dc7dbb0399d9b1c,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,0.602364,0.602364,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,63bb70a89dc7dbb0399d9f60,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,0.146449998021126,0.146449998021126,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,63bb70a89dc7dbb0399da772,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,0.462307,0.462307,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [78]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {'LocalAuthorityName': {'$regex': "London"},'RatingValue': {"$gte": '4'}}
results = establishments.find(query)
# Use count_documents to display the number of documents in the result
print("Number of documents in result:", establishments.count_documents(query))
# Display the first document in the results using pprint
pprint(results[0])

Number of documents in result: 34
{'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
 'AddressLine2': 'Sheppy Kent',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': "Charlie's",
 'BusinessType': 'Other catering premises',
 'BusinessTypeID': 7841,
 'ChangesByServerID': 0,
 'Distance': 4627.439467780196,
 'FHRSID': 621707,
 'LocalAuthorityBusinessID': 'PI/000025307',
 'LocalAuthorityCode': '508',
 'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk',
 'LocalAuthorityName': 'City of London Corporation',
 'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'ME12',
 'RatingDate': '2021-10-18T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': '4',
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('63bb70a89dc7dbb0399d8bc1'),
 'geocode': {'latitude': Decimal128('0.508551'),
             'longitude': Decimal128('0.508551')},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/621707',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 10}}

In [79]:
# Convert the result to a Pandas DataFrame
london_list_df = pd.json_normalize(results)
# Display the number of rows in the DataFrame
print(len(london_list_df.index))
# Display the first 10 rows of the DataFrame
london_list_df.head(10)

34

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,63bb70a89dc7dbb0399d8bc1,621707,0,PI/000025307,Charlie's,Other catering premises,7841,Oak Apple Farm Building 103 Sheernes Docks,Sheppy Kent,,...,0.508551,0.508551,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,63bb70a89dc7dbb0399d8eea,1130836,0,PI/000034075,Mv City Cruises Erasmus,Other catering premises,7841,Cherry Garden Pier,Cherry Garden Street Rotherhithe,Charlton,...,0.249255999922752,0.249255999922752,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,63bb70a89dc7dbb0399d9a35,293783,0,PI/000002614,Benfleet Motor Yacht Club,Other catering premises,7841,Ferry Road,South Benfleet Essex,,...,0.561954,0.561954,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,63bb70a89dc7dbb0399da834,1315095,0,PI/000036464,Coombs Catering t/a The Lock and Key,Restaurant/Cafe/Canteen,1,Leslie Ford House,Tilbury,Charlton,...,0.346336990594864,0.346336990594864,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,63bb70a89dc7dbb0399da83a,294474,0,PI/000014647,Tilbury Seafarers Centre,Restaurant/Cafe/Canteen,1,Tenants Row Tilbury Docks,Tilbury Essex,,...,0.346325,0.346325,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,63bb70a89dc7dbb0399daf3d,294900,0,PI/000019066,Mv Valulla,Other catering premises,7841,Reeds River Cruises LtdKings ReachRiver Thames...,London,,...,0.287555,0.287555,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,63bb70a99dc7dbb0399dd04d,1252616,0,PI/000035653,Froottree,Other catering premises,7841,Tereza Joanne King George V Lock,Woolwich Manor Way London,Charlton,...,0.0693250000476837,0.0693250000476837,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,63bb70a99dc7dbb0399dd04e,293756,0,PI/000002538,Tereza Joanne,Other catering premises,7841,Funcraft UK Ltd King George V Dock Woolwich Ma...,London,,...,0.069286,0.069286,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,63bb70a99dc7dbb0399dd416,878523,0,PI/000029844,Brick Lane Brews,Restaurant/Cafe/Canteen,1,Air side London City Airport,London,,...,0.048006,0.048006,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,63bb70a99dc7dbb0399dd42e,293772,0,PI/000002585,The Nuance Group (UK) Limited,Retailers - other,4613,Duty Free Shop Passenger Terminal,London City AirportRoyal DocksLondon,,...,0.047966,0.047966,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 3. What are the top 5 establishments with a `RatingValue` rating value of '5', sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [122]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score
query = {'BusinessName': "Penang Flavours"}
penang = list(establishments.find(query))
# pprint(penang)

degree_search = 0.01
latitude = float(str(penang[0]['geocode']['latitude']))
longitude = float(str(penang[0]['geocode']['longitude']))
print(latitude)
print(longitude)

query2 = {'RatingValue': '5','geocode.latitude':{'$gte': latitude - degree_search, '$lte': latitude + degree_search},'geocode.longitude':{'$gte': longitude - degree_search, '$lte': longitude + degree_search}}
sort =  [('scores.Hygiene', 1)]

# Print the results
results = list(establishments.find(query2))
results

[{'AddressLine1': 'Penang Flavours',
  'AddressLine2': '146A Plumstead Rd',
  'AddressLine3': 'London',
  'AddressLine4': '',
  'BusinessName': 'Penang Flavours',
  'BusinessType': 'Restaurant/Cafe/Canteen',
  'BusinessTypeID': 1,
  'Distance': 4623.972328074718,
  'LocalAuthorityCode': '511',
  'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
  'LocalAuthorityName': 'Greenwich',
  'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
  'NewRatingPending': True,
  'Phone': '',
  'PostCode': 'SE18 7DY',
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('63bbb5bd7c5b9346264c9377'),
  'geocode': {'latitude': Decimal128('51.49014200'),
              'longitude': Decimal128('0.08384000')},
  'scores': {'ConfidenceInManagement': '', 'Hygiene': '', 'Structural': ''}}]
51.490142
0.08384

[]

In [121]:
# Convert result to Pandas DataFrame
penang_prox_df = pd.json_normalize(results)
penang_prox_df.head(10)

Empty DataFrame
Columns: []
Index: []

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [89]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest
group_query = {'$group': {'_id': {"Local Authority": "$LocalAuthorityName"}, 
                          'count': { '$sum': 1 }
                         }
              }
match_query = {'$match': {'scores.Hygiene': 0}}
sort_values = {'$sort': { 'count': -1 }}
pipeline = [match_query, group_query, sort_values]
results = list(establishments.aggregate(pipeline))
# Print the number of documents in the result
print("Number of rows in result: ", len(results))
# Print the first 10 results
pprint(results[0:10])

Number of rows in result:  55
[{'_id': {'Local Authority': 'Thanet'}, 'count': 1130},
 {'_id': {'Local Authority': 'Greenwich'}, 'count': 882},
 {'_id': {'Local Authority': 'Maidstone'}, 'count': 713},
 {'_id': {'Local Authority': 'Newham'}, 'count': 711},
 {'_id': {'Local Authority': 'Swale'}, 'count': 686},
 {'_id': {'Local Authority': 'Chelmsford'}, 'count': 680},
 {'_id': {'Local Authority': 'Medway'}, 'count': 672},
 {'_id': {'Local Authority': 'Bexley'}, 'count': 607},
 {'_id': {'Local Authority': 'Southend-On-Sea'}, 'count': 586},
 {'_id': {'Local Authority': 'Tendring'}, 'count': 542}]

In [90]:
# Convert the result to a Pandas DataFrame
Auth_Groupby_df = pd.json_normalize(results)
# Display the number of rows in the DataFrame
print(len(Auth_Groupby_df.index))
# Display the first 10 rows of the DataFrame
Auth_Groupby_df.head(10)

55

   count _id.Local Authority
0   1130              Thanet
1    882           Greenwich
2    713           Maidstone
3    711              Newham
4    686               Swale
5    680          Chelmsford
6    672              Medway
7    607              Bexley
8    586     Southend-On-Sea
9    542            Tendring